.price-filter-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  border: 1px solid #eaeaee;
  padding: 2rem;
}

.price-inputs-container {
  display: flex;
  gap: 2rem;
}

.price-range-label {
  color: #2aab59;
  font-size: 1.6rem;
  font-weight: 500;
}

.price-input {
  background-color: #eaf7ee;
  margin-top: 0.5rem;
  font-family: "Poppins";
  font-size: 1.4rem;
  height: 100%;
  outline: none;
  width: 100%;
  border: none;
  border-radius: 1rem;
}

.price-input::placeholder {
  color: #95d5ac;
  font-weight: 300;
}

.price-input:focus {
  background-color: #fff;
  box-shadow: 0 0 3px #2aab59 inset;
}

.set-price-btn {
  background-color: #2aab59;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.set-price-btn:hover {
  background-color: #269a50;
  cursor: pointer;
}
