.hero-container {
  position: relative;
  max-width: 100%;
  /* background-color: aqua; */
  border-bottom: 1px solid #cacaca;
  padding-inline: 1rem;
}

.hero-container .home-page {
  padding: 0;
  padding-bottom: 5rem;
}

.features-container {
  padding-inline: 1rem;
  background-color: #eaf7ee;
}

.plant-cycle-container {
  background-color: #2aab59;
  padding-inline: 1rem;
}

.contact-container {
  background-color: #eaf7ee;
  padding-inline: 1rem;
}

.footer-container {
  border-top: 1px solid #cacaca;
  background-color: #fff;
  padding-inline: 1rem;
}

.home-page {
  max-width: 130rem;
  margin: 0 auto;
  padding: 5rem 0;
}
