.planting-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  /* position: relative; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50rem;
  /* background-color: antiquewhite; */
  gap: 9.6rem;
  align-items: center;
  padding-block: 6rem;
}

.hero-heading {
  color: #269a50;
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  line-height: 1.2;

  background-image: linear-gradient(45deg, #269a50, #46c976);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image-box img {
  height: auto;
  width: 100%;
}

.get-started-btn:link,
.get-started-btn:visited {
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #2aab59;
}

.get-started-btn:hover,
.get-started-btn:active {
  background-color: #269a50;
}

.hero .plant-species {
  position: absolute;
  display: flex;
  justify-self: center;
  gap: 3rem;
  bottom: 0;
  transform: translateY(50%);
}

.hero .plant-species div {
  background-color: #fff;
  padding: 2rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 1px solid #cacaca;
  border-radius: 0.5rem;
  -webkit-box-shadow: 5px 5px 1px 0px #269a50;
  box-shadow: 5px 5px 1px 0px #269a50;
}
