/* .ads-page-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5rem;
} */

.ads-page-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.filters-container {
  width: 25%;
}

.ads-container {
  width: 75%;
}

.ads-not-found-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s;
}

.ads-not-found-animation {
  width: 30%;
}

.ads-not-found-text {
  text-align: center;
  font-size: 2.8rem;
  color: #cacaca;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1040px) {
  .ads-page-container {
    flex-direction: column;
    align-items: center;
  }

  .filters-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .ads-container {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
  .ads-page-container {
    flex-direction: column;
    align-items: center;
  }

  .filters-container {
    width: 100%;
  }

  .ads-container {
    width: 100%;
  }
}
