/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of users browser font-size setting */
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #555;
  font-family: "Poppins";
}

button:hover {
  cursor: pointer;
}

.fixed-position {
  position: fixed;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.pages {
  margin: 0 auto;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: unset;
}

button {
  font-family: "Poppins", sans-serif;
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 1rem;
  box-sizing: border-box;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

textarea.error {
  border: 1px solid var(--error);
}
select.error {
  border: 1px solid var(--error);
}

.material-symbols-outlined {
  opacity: 1;
  transition: 300ms;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.plants-css-grid {
  display: grid;
  justify-content: center;
  width: 100%;
  margin: 2rem auto;
  grid-template-columns: repeat(auto-fit, 30rem);
  column-gap: 5rem;
  row-gap: 5rem;
}

.hidden {
  display: none;
}
