.dialog-container {
  /* color: var(--dialog-color, #000); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1rem);
}

.dialog-box {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dialog-box .title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.dialog-box .close-button {
  border: none;
  background-color: #fff;
}

.dialog-box .close-button span {
  padding: 0.2rem;
  border-radius: 50%;
}
.dialog-box .close-button span:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dialog-box .title {
  color: var(--dialog-color, #000);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
}

.dialog-box .message {
  font-size: 1.6rem;
  word-break: break-all;
}

.dialog-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-self: flex-end;
}

.button-confirm {
  background-color: var(--dialog-color, #000);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-confirm:hover {
  background-color: var(--dialog-hover-color);
}
.button-cancel {
  background-color: #fff;
  color: var(--dialog-color, #000);
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: inset 0px 0px 0px 1px var(--dialog-color, #000);
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-cancel:hover {
  background-color: #f1f1f1;
}
