@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

.register-container {
  margin-top: 5rem;
}

.login-card {
  width: 45rem;
  margin: auto;
  /* background-color: rgb(255, 255, 255); */
  background-color: #fdf7eb;

  padding: 4rem;
  border-radius: 10px;
  border: 2px solid #cacaca;
  position: relative;
}

.login-card-logo {
  margin-bottom: 20px;
}

.login-card-logo img {
  width: 30rem;
}

.login-card-logo,
.login-card-header,
.login-card-footer {
  text-align: center;
}

.login-card a {
  text-decoration: none;
  color: #00b23e;
}

.register-link {
  text-decoration: none;
  color: #00b23e;
}

.login-card-header {
  margin-bottom: 3rem;
}

.login-card-header h1 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.login-card-header p {
  font-size: 1.2rem;
}

.login-card-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-item {
  /* background-color: #00b23e; */
  display: flex;
  align-items: center;
}

/* .login-card-form .checkbox {
  background-color: aquamarine;
  box-sizing: border-box;
  align-items: center;
  gap: 7px;
} */

.login-card-footer {
  margin-top: 15px;
  font-size: 1.2rem;
}

.form-input {
  margin: 0;
  margin-left: 10px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 100px;
  width: 100%;
}

.form-input::placeholder {
  color: #c0c0c0;
}

.form-input:focus {
  background-color: #fff;
  box-shadow: 0 0 2px #cacaca inset;
}

.login-card-form button {
  background: #2aab59;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-card-form button:hover {
  background-color: #269a50;
  cursor: pointer;
}
